<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/admin.js"></script>
</head>

<body style="background-color: powderblue;">

  <header>
    <h1>Orders</h1>
  </header>

  <main>
    <section id="order-summary">
      <div class="order">
        <table>
          <thead>
            <tr>
              <th>Order #</th>
              <th>Item #</th>
              <th>Item</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody id="order-summary-list">
            <tr>
              <td>1</td>
              <td>1</td>
              <td>Burger</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</body>

</html>
