<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/admin.js"></script>
</head>

<body style="background-color: powderblue;">

  <header>
    <h1>Orders</h1>
  </header>

  <main>
    <section id="order-summary">
      <table>
        <thead>
          <tr>
            <th colspan="5">Order #1</th>
          </tr>
          <tr>
            <th colspan="5">Time Placed: 2021-01-13</th>
          </tr>
        </thead>
          <tr>
            <th>Order #</th>
            <th>Item #</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Time Placed</th>
          </tr>
        <tbody id="order-summary-list">
          <tr>
            <td>1</td>
            <td>1</td>
            <td>Burger</td>
            <td>1</td>
            <td>2022-01-13</td>
          </tr>
        </tbody>
      </table>
    </section>
    <form action="" class="time-estimate">
      <input type="number" name="timeestimate">
      <button id="btn-time-estimate" type="submit">Update Time</button>
    </form>
    <button id="btn-order-ready" type="submit">Order Rea</button>
  </main>
</body>

</html>
