<!DOCTYPE html>
<html lang="en">



<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Restaunrant</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

<div class="container">
  <div class="py-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h2>Order:</h2>

    <p class="text-muted">Customer:</span></p>
    <p class="text-muted">Status:</p>
    <p class="text-muted">Place Order Time:</p>
      <form class="form-inline"></form>
        <div class="form-group mb-2">
          <label class="text-muted" for="estimatedTime">Enter Estimated Time:</label>
          <input class="form-control" type="number" name="estimatedTime" placeholder="How long will it take?" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    <p class="text-muted" class="text-muted">Estimated Time:</p>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label class="text-muted" for="completedTime">Completed time:</label>
          <input type="hidden" name ="completedTime" value = "Now()">
          <button type="submit" class="btn btn-primary">Order is Ready!</button>
        </div>
      </form>
    <p class="text-muted">Completed Time:
  </div>



  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Order</span>

      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"></h6>
            <small class="text-muted">
              <table>
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th class=>Quantity</th>
                  <th>$</th>
                </tr>
              </table>
            </small>
          </div>

        <li class="list-group-item d-flex justify-content-between">
           <span>Total (CAD) </span>

        </li>
      </ul>
    </div>
    <div id='form' class="col-md-8 order-md-1">
    </div>
  </div>
</div>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"
    integrity="sha256-ifihHN6L/pNU1ZQikrAb7CnyMBvisKG3SUAab0F3kVU=" crossorigin="anonymous"></script>
