

 <!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link href="/styles/checkout.css" rel="stylesheet" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


</head>

<body style="background-color: powderblue;">
  <p class="restaurant-name">Burger Joint 🍔</p>
  <p class="slogan" style="font-family: fantasy;">Everything Burgers. Everything Fries.Everything Delicious!</p>

  <div class="menu-container">

  <div class="menu">
    <div class="menu-title">Menu</div>
    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>Burgers</h2>
        <div class="card" style="font-size: 20px">
          <img src="/pictures/burger.jpeg" alt="Burger">
           <h4>Light Burger</h4>
          <p>An All-Canadian burger, made with real beef and real love.</p>
          <p class="price">$9.99</p>
          <p>Quantity: 1</p>
          <p><button>Add to Cart</button></p>

        </div>
        <div class="card" style="font-size: 20px">
           <img src="https://images.squarespace-cdn.com/content/v1/5ce386a331788f00014f4598/1562634580998-SP31S8SXVWPN4UU66Z07/Burgerhead-6.jpg?format=1000w" width="200" height="200" alt="Burger">
           <h4>House Burger</h4>
          <p>An All-Canadian burger, made with real beef and real love.</p>
          <p class="price">$9.99</p>
          <p>Quantity: 1</p>
          <p><button>Add to Cart</button></p>

         </div>
        <div class="card" style="font-size: 20px">
          <img src="/pictures/burger.jpeg" alt="Burger">
           <h4>Labs Burger</h4>
          <p>An All-Canadian burger, made with real beef and real love.</p>
          <p class="price">$9.99</p>
          <p>Quantity: 1</p>
          <p><button>Add to Cart</button></p>
        </div>
      </div>
      <div class="column" style="background-color:#bbb;">
        <h4>Fries</h4>
        <p>Compass Fries</p>
         <p>Slack Fries</p>
        <p>Disc Fries</p>
      </div>
      <div class="column" style="background-color:#ccc;">
        <h4>Cold Beverages</h4>
        <p>Strawberry Milkshake</p>
        <p>Chocolate Milkshake</p>
        <p>Vanilla Milkshake</p>
      </div>
  </div>
  </div>
<div class="checkout">
  <div class="checkout-title">Your Cart</div>
  <P>Light Burger</P>
  <p>Compass Fries</p>
    </div>
  </div>
  </body>


  </body>
  </html>
