
 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Confirmation</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link href="/styles/confirmation.scss" rel="stylesheet" type="text/css" />
</head>
<body>
  <html>
    <head>
    <style>
    div {
      background-color: lightgray;
      width: 600px;
      height: 200px;
      /* border: 15px solid rgb(20, 22, 23); */
      padding: 50px;
      margin: 20px;
    }
    </style>
    </head>
    <body>
  <body style="background-color: powderblue;">
  </body>
<h2>Contact Information</h2>

<p>Confirm all information is correct. You cannot make any changes after the order is placed.</p>

<div>

  <br> First Name: <br>
      Last Name: <br>
      Phone Number:

</div>

</body>
</html>
