
 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Confirmation</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/confirmation.css" type="text/css" />



</head>
<body>


<h2>Checkout</h2>

<p>Confirm all information is correct. You cannot make any changes after the order is placed.</p>

<h3>Contact Information</h3>

<div>

  <br> First Name: <br>
      Last Name: <br>
      Phone Number:

</div>

    <h3>Method of Payment</h3>

  <div>How would you like to pay? <br>  <ul>
    <li>Pay at Restaurant</li>
    <li>Pay Online</li>
  </ul>
  </div>

    <h3>Payment Details</h3>

<div>

  <br> Credit Card Number: <br>
      Credit Card Holders Name: <br>
      Expiration Date: <br>
      CCV Number: <br>

</div>

</body>
</html>
