<!DOCTYPE html>
<html lang="en">

<head>
  <title>Burger Joint 🍔</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.scss" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.scss" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.scss" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


</style>

<body style="background-color: powderblue;">
  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Burger Joint 🍔</h1>
  <h3 style="font-family: fantasy;">Everything Fries. Everything Burgers.Everything Delicious</h3>
  <h2 >MENU</h2>


  <table class="styled-table">
    <thead>
        <tr>
            <th>Appetizers</th>
            <th>Burger Meals</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Meal One</td>
            <td>Meal Two</td>
        </tr>
        <tr class="active-row">
            <td>Meal Three</td>
            <td>Meal Four</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>

</body>

</html>
