<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body style="background-color: powderblue;">
  <header>
    <div class="restaurant-name"><span>Burger</span>
    <span>Joint</span></h1>
    <h2 class="slogan" style="font-family: fantasy;">Everything Burgers. Everything Fries.Everything Delicious!</h2>
  </header>

  <main class="menu-container">
    <section class="menu">
      <h2 class="menu-title">Menu</h2>
      <div class="row menu-list">
        <div>
          <h2>Burgers/h2>
          <div id="menu-burgers"></div>
        </div>
        <div >
          <h2>Sides</h2>
          <div id="menu-sides"></div>
        </div>
        <div>
          <h2>Drinks</h2>
          <div id="menu-drinks"></div>
        </div>
      </div>
    </section>

    <section class="checkout cart">
      <h3 class="checkout-title">CART</h3>
      <div id="cart-list"></div>
      <button id="checkout">CHECKOUT</button>
      <a href="/confirmation">CHECKOUT</a>
    </section>
  </main>
</body>

</html>
