<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/navbar') %>
</head>
<body style="background-color: powderblue;">
  <!-- <%- include('partials/header') %> -->


<h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">PLACE YOUR ORDER HERE</h2>
  </body>
  </html> -->
