


<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body style="background-color: powderblue;">
  <header>
    <h1 class="restaurant-name">Burger Joint 🍔</h1>
    <h2 class="slogan" style="font-family: fantasy;">Everything Burgers. Everything Fries.Everything Delicious!</h2>
  </header>

  <main class="menu-container">
    <section class="menu">
      <h2 class="menu-title">Menu</h2>
      <div class="row menu-list">
        <div class="column" style="background-color:#aaa; padding: 0.8em">
          <h2>Burgers</h2>
          <div id="menu-burgers"></div>
        </div>
        <div class="column" style="background-color:#bbb; padding: 0.8em">
          <h2>Sides</h2>
          <div id="menu-sides"></div>
        </div>
        <div class="column" style="background-color:#ccc; padding: 0.8em">
          <h2>Drinks</h2>
          <div id="menu-drinks"></div>
        </div>
      </div>
    </section>

    <section class="checkout cart">
      <h3 class="checkout-title">CART</h3>
      <div id="cart-list"></div>
      <button id="checkout">CHECKOUT</button>
    </section>
  </main>
</body>

<<<<<<< HEAD
<!-- <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">PLACE YOUR ORDER HERE</h4>
  </body>
  </html> --> --> -->
=======
</html>
>>>>>>> e1b3c83050f14ffc5114cc8b88df15aec577fabf
