<!DOCTYPE html>
<html lang="en">

<head>
  <title>Burger Joint 🍔</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.scss" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.scss" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.scss" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<style>
  * {
    box-sizing: border-box;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>

<body style="background-color: powderblue;">
  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Burger Joint 🍔</h1>
  <h3 style="font-family: fantasy;">Everything Burgers. Everything Fries.Everything Delicious!</h3>
  <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;" >MENU</h2>

  </head>
  <body>

  <div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Burgers</h2>
      <p>Light Burger</p>
      <p>House Burger</p>
      <p>Labs Burger</p>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Fries</h2>
      <p>Compass Fries</p>
      <p>Slack Fries</p>
    </div>
    <div class="column" style="background-color:#ccc;">
      <h2>Cold Beverages</h2>
      <p>Strawberry MilkShake</p>
      <p>Chocolate MilkShake</p>
      <p>Vanilla MilkShake</p>
    </div>
  </div>

  </body>
  </html>



<!-- <style>
 * {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

<body style="background-color: powderblue;">
  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Burger Joint 🍔</h1>
  <h3 style="font-family: fantasy;">Everything Burgers. Everything Fries.Everything Delicious!</h3>
  <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;" >MENU</h2>



<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Burgers</h2>
    <p>Light Burger</p>
    <p>House Burger</p>
    <p>Labs Burger</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Fries</h2>
    <p>Compass Fries</p>
    <p>Slack Fries</p>
    <div class="column" style="background-color:#aaa;">
      <h2>Cold Beverages</h2>
      <p>Strawberry MilkShake</p>
      <p>Chocolate MilkShake</p>
      <p>Vanilla MilkShake</p>
      <p>Coke</p>
      <p>Sprite</p>
  </div>
</div>

<h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">PLACE YOUR ORDER HERE</h2>

</body>

</html> -->
