<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
   <script type="text/javascript" src="/scripts/menu.js"></script>
 <script type="text/javascript" src="/scripts/app.js"></script> 
</head>

<body style="background-color: #f1f1f1;">

  <header>
    <section class="homepage-showcase" id="showcase">
            <div class="homepage-container">
        <div class="homepage-title" >
              <h1 id="home">Burger Joint</h1></div>
      <a class="btn2" href="/users/menu">
      <button class="btn1">Menu</button>
    </a>
            </div>
          </section>
      
  </header>

    <!--            <section id="about">
      <div class="about-text">
        <div class="about-wrapper container">
              <p class="small">About Us</p>
              <h2>Everything Burgers. Everything Fries. Everything Delicious!</h2>
              <p>
                  Check out our selection of flame-grilled delicious burgers topped your way and so much more! Choose the menu at your nearest location and prepare your taste buds for your next visit.
              </p>
        </div>
</section> -->

<div class="about-section">
    <h1 class="about-us-title">About Us</h1>
    <h2>Everything Burgers. Everything Fries. Everything Delicious!</h2>
     <p class="about-us-text">
                Check out our selection of flame-grilled delicious burgers topped your way and so much more! Choose the menu at your nearest location and prepare your taste buds for your next visit.
            </p>
  </div>
   </div>
</body>

</html>
