.orderlist-container,
.orderupdate-container {
  background: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}

.orderlist-container {
  height: 100%;
}

.text-muted table table-responsive {
  width: 100%;
}
