.order-list-container,
.order-update-container {
  background: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}

.order-list-container {
  height: 100%;
}

.text-muted table table-responsive {
  width: 100%;
}
